.hdr-top {
    background: #237d9e;
    height: 42px
}

.hdr-top * {
    color: #FFF;
    font-family: Lato-Bold, Arial, sans-serif;
    font-size: 12px;
    line-height: 20px
}

.hdr-top a:hover {
    color: #224855
}

@media (max-width: 992px) {
    .hdr-top .socl-lnks p {
        display: none
    }
}

@media (max-width: 767px) {
    .inln-links {
        display: none
    }
}

.apollo-logo {
    padding: 24px 0
}

.ask-logo {
    margin-left: 24px;
    line-height: 0
}

.srch-bar {
    position: relative;
    width: 100%;
    max-width: 340px
}

.hdr-srch .frm-fld {
    padding-right: 54px;
    width: 100%
}

.hdr-srch button {
    border: none;
    box-shadow: none;
    position: absolute;
    right: 0;
    width: 48px;
    height: 48px;
    cursor: pointer;
    background: transparent;
    text-transform: none;
    outline: 0;
    transition: all .3s ease-in-out;
    -webkit-appearance: button
}

.hdr-srch button img {
    -webkit-filter: invert(0);
    filter: invert(0);
    transition: all .3s ease-in-out
}

.hdr-srch button:hover,
.hdr-srch button:focus {
    border: none;
    background: #237d9e;
    outline: 0
}

.hdr-srch button:hover img,
.hdr-srch button:focus img {
    -webkit-filter: invert(1);
    filter: invert(1)
}

.hdr-srch button:focus {
    background: #224855
}

.hdr-help {
    position: relative;
    margin-left: 32px
}

.icon-24by7 {
    position: absolute;
    left: calc(50% - 36px)
}

.hdr-help a {
    color: #FFF;
    font-family: Lato-Bold, Arial, sans-serif;
    font-size: 10px;
    line-height: 18px;
    letter-spacing: .5px;
    text-transform: uppercase;
    height: 64px
}

.hdr-help a span {
    display: block;
    width: 100%;
    font-size: 14px
}

.emrgcy {
    background: #DB0B20;
    margin-right: 2px;
    padding: 0 32px
}

.liflin {
    background: #224855
}

.emrgcy:hover,
.liflin:hover {
    background: #237D9E
}

@media (max-width: 1220px) {
    .ovarlay.menu-overlay.show {
        visibility: visible;
        opacity: 1
    }
    .ap-nav {
        position: fixed;
        width: 290px;
        height: 100vh;
        background: #fff;
        left: -290px;
        top: 0;
        z-index: 1001;
        overflow: hidden;
        overflow-y: scroll;
        transition: left .5s ease-in-out;
        -webkit-overflow-scrolling: touch
    }
    .ap-nav.open {
        left: 0
    }
    .ap-nav .container {
        max-width: 84.54%
    }
    .ap-mmenu-top {
        background: #F7F5F5;
        padding: 24px 7.73%;
        border-bottom: 4px solid #FCBA12
    }
    a.menu-close {
        width: 42px;
        height: 42px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -12px
    }
    .ap-nav ul.prmry-nav {
        display: flex;
        flex-direction: column;
        width: 100%
    }
    .ap-nav ul.prmry-nav>li {
        width: 100%
    }
    .ap-nav ul.prmry-nav>li>a {
        color: #000;
        font-family: Lato-Bold, Arial, sans-serif;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 1px;
        padding: 24px 0;
        border-bottom: 1px solid #EAEAEA;
        width: 100%;
        display: block;
        text-transform: uppercase;
        position: relative;
        transition: color .3s ease-in-out
    }
    .ap-nav ul.prmry-nav>li>a:after {
        content: "";
        background: url(../images/menu-arrow.svg)no-repeat;
        position: absolute;
        width: 6px;
        height: 12px;
        top: calc(50% - 6px);
        right: 0;
        transition: background .3s ease-in-out
    }
    .ap-nav ul.prmry-nav>li.active>a,
    .ap-nav ul.prmry-nav>li:hover>a {
        color: #237D9E
    }
    .ap-nav ul.prmry-nav>li.active>a:after,
    .ap-nav ul.prmry-nav>li:hover>a:after {
        background: url(../images/menu-arrow-hover.svg)no-repeat
    }
    .menu-srch-wrp {
        -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px
    }
    .toggle-menu {
        min-width: 80px;
        height: 40px;
        padding: 0;
        font-size: 12px;
        height: 48px;
        line-height: 16px;
        color: #9A9A9A;
        background-color: #EAEAEA;
        background-clip: padding-box;
        border: none;
        outline: 0;
        box-shadow: none;
        transition: all .15s ease-in-out;
        margin-right: 16px
    }
    .menu-apnt-btn {
        background: #224855;
        color: #fff;
        display: block;
        margin: 64px 0 24px
    }
}

@media (max-width: 767px) {
    .apollo-logo img {
        max-width: 68px
    }
    .hdr-rght>img {
        display: none
    }
    .hdr-help {
        margin-left: 0;
        width: 224px;
        max-width: 100%
    }
    .hdr-help a {
        height: 56px;
        line-height: 14px
    }
    .hdr-help a span {
        font-size: 10px
    }
    .emrgcy {
        padding: 0 16px
    }
    .icon-24by7 {
        left: calc(50% - 26px)
    }
    .icon-24by7 img {
        max-width: 30px
    }
    .menu-srch-wrp {
        margin-bottom: 20px
    }
    .srch-bar {
        max-width: 100%;
        width: 260px
    }
}

@media(max-width: 360px) {
    .hdr-help {
        width: 200px
    }
    .emrgcy {
        padding: 0 10px
    }
    .icon-24by7 {
        left: calc(50% - 28px);
        bottom: -15px
    }
}

@media(max-width: 320px) {
    .hdr-help {
        width: 190px
    }
    .emrgcy {
        padding: 0 6px
    }
    .icon-24by7 {
        left: calc(50% - 30px)
    }
}

@media (min-width: 1221px) {
    .ap-hdr {
        border-bottom: 1px solid #EAEAEA
    }
    .toggle-menu,
    .ap-mmenu-top,
    .menu-apnt-btn {
        display: none
    }
    nav {
        border-bottom: 1px solid #EAEAEA
    }
    .prmry-nav {
        margin-left: -16px;
        margin-right: -16px
    }
    .prmry-nav>li.has-child {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }
    .prmry-nav>li>a {
        color: #000;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        font-family: Lato-Bold, Arial, sans-serif;
        font-size: 12px;
        line-height: 16px;
        padding: 16px;
        letter-spacing: 1px;
        text-transform: uppercase;
        -webkit-transition: color .3s ease-in-out;
        -o-transition: color .3s ease-in-out;
        transition: color .3s ease-in-out
    }
    .prmry-nav>li.has-child:after {
        content: "";
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid #000;
        margin-left: -8px;
        -webkit-transition: border-top-color .2s ease-in-out .1s;
        -o-transition: border-top-color .2s ease-in-out .1s;
        transition: border-top-color .2s ease-in-out .1s
    }
    .prmry-nav>li:hover>a,
    .prmry-nav>li.active>a {
        color: #237D9E
    }
    .prmry-nav>li.has-child:hover:after,
    .prmry-nav>li.has-child.active:after {
        border-top-color: #237D9E
    }
}

.ovarlay {
    background: rgba(0, 0, 0, .8);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out
}